        <div class="main-container">
            <div class="main wrapper clearfix" >
                <article>
                    <header>
                        <h1>Contact Us</h1>
                        <p>If you have any questions or concerns regarding Singletary Automotive Services, please feel free to contact us.</p>
                    </header>
                    <section>
                        <h3>By Address</h3>
                        <p>Singletary Automitive Services </br> 
                            10417 Taylorsville Rd. </br>
                            Louisville, KY 40299</p>
                    </section>
                    <section>
                        <h3>By Phone</h3>
                        <p>(502) 297-8100</p>
                    </section>
                    <section>
                        <h3>By Email</h3>
                        <p><a href="mailto:nowhere@singletary.com">Send email</a></p>
                    </section>
                    <footer>

                    </footer>
                </article>

                <aside>
                    <a href="img/businessfront.jpg"><img src="img/businessfront.jpg" alt="Singletary Automotive Services LLC">
                </aside>
            </div>
        </div>