            <div>
                <article>
                    <header>
                        <h1>"Taking You Back In Time... When Good Service Meant Something"</h1>
                        <p>Singletary Automotive Services, L.L.C., in Louisville, KY, is the area’s premier auto repair and service shop, serving all of Louisville since 2003. </p>
                    </header>
                    <section>
                        <h2>Services</h2>
                        <p>Our services include brakes, oil changes, window motors, alternators, starters and classic car restoration.  Contact Singletary Automotive Services, L.L.C. in Louisville today.</p>
                    </section>
                    <section>
                        <h2>Hours</h2>
                        <ul>
                            <li>Monday:    8:00 AM - 5:30 PM</li>
                            <li>Tuesday:   8:00 AM - 5:30 PM</li>
                            <li>Wednesday: 8:00 AM - 5:30 PM</li>
                            <li>Thursday:  8:00 AM - 5:30 PM</li>
                            <li>Friday:    8:00 AM - 5:30 PM</li>
                        </ul>
                    </section>
                </article>
                <aside>
                    <img src="img/classics.jpg" alt="classic">
                </aside>
            </div> 
 