        <div class="main-container">
            <div class="main wrapper clearfix">
                <article>
                    <header>
                        <h1>Services</h1>
                        <p>If you have any questions regarding Singletary Automotive Services or would like to set an appoinment, please feel free to <a href="mailto:nowhere@singletary.com">contact us</a>.</p>
                            <ul>
                                <li>Classic Car Restoration</li>
                                <li>Brakes Repairs</li>
                                <li>Oil Chages</li>
                                <li>Alternators, Starter, Batteries</li>
                                <li>Electrical System Diagnostics</li>
                                <li>Tune Ups</li>
                                <li>Diagnostic Repairs</li>
                                <li>Engine Repair/Replacement</li>
                                <li>Transmission Repair/Replacement</li>
                                <li>Tires</li>
                                <li>Front End Repairs and Alignment</li>
                            </ul>
                    </header>
                    <footer></footer>
                </article>
                <aside>
                    <a href="img/tools.jpg"><img src="img/tools.jpg" alt="Singletary Automotive Services LLC">
                </aside>
            </div>
        </div>